main{
    background-color:#FFFF;
    margin-left: 8%;
    margin-right: 0%;
    margin-top: 5%;
    
    width: 84%;
    height: 50%;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

    position: absolute;
}

.StarterInfo {
    text-align: center;


    position: relative;
}

.StarterInfo p {
    margin-top: -1%;
}



.ParagraphInfo {
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    
}

.Importance {
    text-align: center;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 2%
}
