main{
    background-color:#FFFF;
    margin-left: 8%;
    margin-right: 0%;
    margin-top: 5%;
    
    width: 84%;
    height: 170%;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

    position: absolute;
}
